# Diretórios e arquivos de build/IDE
bin/
obj/
.vs/
.vscode/

# Arquivos de configuração de ambiente e segredos
.env
secrets.dev.yaml
values.dev.yaml

# Arquivos do Git
.git/
.gitignore

# Arquivos e pastas temporárias/logs
**/node_modules/
**/npm-debug.log
LICENSE
README.md

# Arquivos de projeto específicos (se não forem necessários no build final)
**/*.dbmdl
**/*.jfm
**/*.*proj.user # Arquivos de usuário do projeto
**/azds.yaml
**/charts/
**/docker-compose* # Ignora arquivos docker-compose* em qualquer subdiretório